
html {
    --default-slide-distance: 2rem;
    --default-animation-time: 0.9s;  /* UNIQUE FOR EACH SUB-PROJECT */
}

/* ============== */
/* Initial States */
/* ============== */

.load-left {
    transform: translateX(var(--default-slide-distance));
    opacity: 0;
}

.load-right {
    transform: translateX(calc(-1 * var(--default-slide-distance)));
    opacity: 0;
}

.load-up {
    transform: translateY(var(--default-slide-distance));
    opacity: 0;
}

.load-down {
    transform: translateY(calc(-1 * var(--default-slide-distance)));
    opacity: 0;
}

.load-down-fast {
    transform: translateY(calc(-1 * var(--default-slide-distance)));
    opacity: 0;
}

.load-left-then-out {
    transform: translateX(var(--default-slide-distance));
    opacity: 0;
}

.phase-in {
    opacity: 0;
}

.phase-in-delay-1 {
    opacity: 0;
}

.phase-in-delay-2 {
    opacity: 0;
}

.colour-changing-ink {
    background-color: magenta;
}

/* ========================== */
/* Add Animations to Elements */
/* ========================== */

.load-left.show {
    animation: load-left-animation var(--default-animation-time) forwards;
}

.load-right.show {
    animation: load-right-animation var(--default-animation-time) forwards;
}

.load-up.show {
    animation: load-up-animation var(--default-animation-time) forwards;
}

.load-down.show {
    animation: load-down-animation var(--default-animation-time) forwards;
}

.load-down-fast.show {
    animation: load-down-animation calc(0.5*var(--default-animation-time)) forwards;
}

.load-left-then-out.show {
    animation: load-left-then-out-animation calc(1.5 * var(--default-animation-time)) forwards;
}

.app-text.show {
    animation: phase-in calc(0.5*var(--default-animation-time)) forwards;
}

.app-text.hide {
    animation: phase-out calc(0.2*var(--default-animation-time)) forwards;
}

.app-list.show {
    animation: phase-in calc(0.5*var(--default-animation-time)) forwards;
}

.app-list.hide {
    animation: phase-out calc(0.2*var(--default-animation-time)) forwards;
}

.phase-in.show {
    animation: phase-in var(--default-animation-time) forwards;
}

.phase-in-delay-1.show {
    animation: phase-in var(--default-animation-time) forwards;
    animation-delay: calc(0.15*var(--default-animation-time));
}

.phase-in-delay-2.show {
    animation: phase-in var(--default-animation-time) forwards;
    animation-delay: calc(0.3*var(--default-animation-time));
}

.show-more-icon.hide {
    animation: phase-out calc(0.2*var(--default-animation-time)) forwards;
}

.show-more-icon.show {
    animation: phase-in var(--default-animation-time) forwards;
}

#colour-changing-ink {
    animation: colour-changing-ink-animation calc(4*var(--default-animation-time)) alternate;
    animation-iteration-count: infinite;
}

#fake-data-1 {
    animation: fake-data-1-animation calc(6*var(--default-animation-time)) forwards;
    animation-iteration-count: infinite;
}

#fake-data-2 {
    animation: fake-data-2-animation calc(6*var(--default-animation-time)) forwards;
    animation-iteration-count: infinite;
}

#fake-data-3 {
    animation: fake-data-3-animation calc(6*var(--default-animation-time)) forwards;
    animation-iteration-count: infinite;
}

/* ================= */
/* Define Animations */
/* ================= */

@keyframes load-left-animation {
    0% {
        opacity: 0;
        transform: translateX(var(--default-slide-distance));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes load-right-animation {
    0% {
        opacity: 0;
        transform: translateX(calc(-1 * var(--default-slide-distance)));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes load-up-animation {
    0% {
        opacity: 0;
        transform: translateY(var(--default-slide-distance));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes load-down-animation {
    0% {
        opacity: 0;
        transform: translateY(calc(-1 * var(--default-slide-distance)));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes load-left-then-out-animation {
    0% {
        opacity: 0;
        transform: translateX(var(--default-slide-distance));
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    /* 67% {
        opacity: 1;
        transform: translateX(0);
    } */
    100% {
        opacity: 0.8;
        transform: translateX(0);
    }
}

@keyframes phase-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes phase-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes colour-changing-ink-animation {
    0% {
        background-color: magenta;
    }
    17% {
        background-color: magenta;
    }
    33% {
        background-color: yellow;
    }
    50% {
        background-color: yellow;
    }
    67% {
        background-color: cyan;
    }
    83% {
        background-color: cyan;
    }
    100% {
        background-color: magenta;
    }
}

@keyframes fake-data-1-animation {
    0% {
        top: 0%;
        left: 0%;
        opacity: 1;
    }
    28% {
        top: 0%;
        left: 0%;
        opacity: 1;
    }
    33% {
        top: 15%;
        left: 15%;
        opacity: 0;
    }
    95% {
        top: 15%;
        left: 15%;
        opacity: 0;
    }
    100% {
        top: 0%;
        left: 0%;
        opacity: 1;
    }
}

@keyframes fake-data-2-animation {
    0% {
        top: 15%;
        left: 15%;
        opacity: 0;
    }
    28% {
        top: 15%;
        left: 15%;
        opacity: 0;
    }
    33% {
        top: 0%;
        left: 0%;
        opacity: 1;
    }
    62% {
        top: 0%;
        left: 0%;
        opacity: 1;
    }
    67% {
        top: 15%;
        left: 15%;
        opacity: 0;
    }
    100% {
        top: 15%;
        left: 15%;
        opacity: 0;
    }
}

@keyframes fake-data-3-animation {
    0% {
        top: 15%;
        left: 15%;
        opacity: 0;
    }
    62% {
        top: 15%;
        left: 15%;
        opacity: 0;
    }
    67% {
        top: 0%;
        left: 0%;
        opacity: 1;
    }
    95% {
        top: 0%;
        left: 0%;
        opacity: 1;
    }
    100% {
        top: 15%;
        left: 15%;
        opacity: 0;
    }
}